.hire_button {
  display: none;;
}

.btn-primary {
  background-color: #27aae1;
  border-color: #27aae1;
}

.btn-outline-primary {
  color: #27aae1;
  border-color: #27aae1;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #27aae1;
  border-color: #27aae1;
}

.footer__cta {
  background-color: #27aae1;
}